.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 700px;
}

.slide {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px black;
}

.slide-hidden {
    display: none;
}

.arrow {
    position: absolute;
    color: #da4167;
    width: 50px;
    height: 50px;
}

.arrow-left {
    left: -4.5rem;
}

.arrow-right {
    right: -4.5rem;
}

.arrow:hover{
    cursor: pointer;
}

.indicators {
    display: flex;
    position: absolute;
    bottom: 1rem;
}

.indicator {
    background-color: #da4167;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    border: none;
    outline: none;
    margin: 3px;
}


.indicator:hover{
    cursor: pointer;
}

.indicator-inactive {
    background-color: grey;
}


.carousel1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 700px;
}