* {
	box-sizing: border-box;
	margin: 0;
	border: 0;
}

html, body {
  background-color: #ebebd3;
  width: 100%;
  height: 100%;
}


/*APP PAGE*/

.app-main {
	position: absolute;
	width: 100%;
	height: 100%;
}

.link {
	text-decoration: none;
	font-family: "PT Sans", sans-serif;
	font-size: 23px;
	color: #083d77;
}

#projects-main {
	background-color: #ebebd3;
	z-index: 1;
    border: 2px solid #083d77;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 40%;
    text-decoration: none;
    display: flex;
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    right: auto;
   	transition: background-color 1s, width 1s, height 1s, transform 1s, z-index 1s;
    overflow: hidden;
}

#projects-main:hover {
	background-color: #da4167;
	width: 60%;
	height: 60%;
	z-index: 2;
	transform: scale(1);
}

body:has(#projects-main:hover) #about {
	height: 40%;
}

#projects-main:hover .link {
	color:#f4d35e;
	padding: 15px;
	border: 4px solid #f4d35e;
}


#contacts-main {
	background-color: #ebebd3;
	z-index: 1;
	border: 2px solid #083d77;
	justify-content: center;
	align-items: center;
	width: 40%;
	height: 60%;
	text-decoration: none;
	display: flex;
	position: absolute;
	top: 0;
	bottom: auto;
	left: auto;
	right: 0;
	transition: background-color 1s, width 1s, height 1s, transform 1s, z-index 1s;
	overflow: hidden;
}

#contacts-main:hover {
	background-color: #da4167;
	width: 60%;
	height: 60%;
	z-index: 2;
	transform: scale(1); 
}

#contacts-main:hover .link{
	color:#f4d35e;
	padding: 15px;
	border: 4px solid #f4d35e;
}

#contacts-main:hover ~ #projects-main {
	width: 40%;
}

#logo {
	background-color: #da4167;
	color: #f4d35e;
    border: 2px solid #083d77;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
    padding-bottom: 9px;
    display: flex;
    position: absolute;
    top: 40%;
    left: 40%;
    transition: width 1s, height 1s , transform 1s, z-index 1s;
    overflow: hidden;
}

#logo:hover {
	width: 30%;
	height: 30%;
	z-index: 2;
	transform: scale(1);
}

.logo-font {
	font-family: "Permanent Marker", sans-serif;
	font-size: 52px;
}

#about {
	background-color: #ebebd3;
    border: 2px solid #083d77;
   	z-index: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    text-decoration: none;
    width: 40%;
    height: 60%;
    top: auto;
    bottom: 0;
    left: 0;
    right: auto;
    transition: background-color 1s, width 1s, height 1s, transform 1s, z-index 1s;
    overflow: hidden;
}

#about:hover {
	background-color: #da4167;
	width: 60%;
	height: 60%;
	transform: scale(1);
	z-index: 2;
}

#about:hover ~ #resume-main {
	width: 40%;
}

#about:hover .link {
	color:#f4d35e;
	padding: 15px;
	border: 4px solid #f4d35e;
}

#resume-main {
	background-color: #ebebd3;
    border: 2px solid #083d77;
   	z-index: 1;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 40%;
    text-decoration: none;
    display: flex;
    position: absolute;
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
    transition: background-color 1s, width 1s, height 1s, transform 1s, z-index 1s;
}

#resume-main:hover {
	background-color: #da4167;
	width: 60%;
	height: 60%;
	transform: scale(1);
	z-index: 2;
}

#resume-main:hover ~ #contacts-main {
	height: 40%;
}

#resume-main:hover .link {
	color:#f4d35e;
	padding: 15px;
	border: 4px solid #f4d35e;
}




/*CONTACTS PAGE*/ 

.contacts-page {
	width: 100%;
	height: 100%;
	z-index: 9999;
	position: absolute;
	background-color: #ebebd3;
	border: 4px solid #083d77;
	display: flex;
}

.close-button {
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: auto;
	top: 32px;
	right: 32px;
	left: auto;
	background-color: #ebebd3;
	cursor: pointer;
}

.close {
	width: 30px;
	height: 30px;
}

.formulario {
	width: 50%;
	background-color: #f4d35e;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


form {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 400px;
}

.contact-me {
	font-size: 30px;
}

.form-label {
	width: 300px;
	height: 60px;
	font-size: 20px;
	padding-top: 15px;
	text-transform: uppercase;
	padding-bottom: 15px;
}

.form-input {
	height: 50px;
	background-color: #ebebd3;
	border: 2px solid black;
	color: black; 
}

.message-area {
	height: 100px;
	background-color: #ebebd3;
	border: 2px solid black;
	color: black; 
}

.form-button {
	width: 150px;
	height: 50px;
	background-color: #da4167;
	color: #ebebd3;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 15px;
	cursor: pointer;
	border-radius: 3px;
}

.form-button:active {
  	background-color: #083d77;
  	transform: translateY(10px);
}


.social {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-left: 3px solid #083d77;
}

.social-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 400px;
}

.social-1 {
	height: 50px;
	font-size: 30px;
}

.social-2 {
	text-transform: uppercase;
	font-size: 20px;
}


.social-mail {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 80px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.social-phone {
	width: 400px;
	height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;	
}

.numbers {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 60px;
}

.social-3 {
	height: 40px;
	padding: 15px;
	font-size: 20px;
}


.mail {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 60px;
}

.social-linkedin {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80px;
	margin-top: 20px;
}

.social-input {
	height: 35px;
	font-size: 25px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	color: black;
}

.social-button {
	height: 35px;
	font-size: 20px;
	text-transform: uppercase;
	background-color: #da4167;
	color: #ebebd3;
	width: 100px;
	cursor: pointer;
	border-radius: 3px;
}

.social-button:active {
  	background-color: #083d77;
  	transform: translateX(10px);
}

.img-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 60px;
	margin-top: 20px;
}

.linkedin-img {
	width: 100px;
	height: 100px;
	margin-right: 15px;
}

.github-img {
	width: 60px;
	height: 60px;
	margin-left: 15px;
}





/*RESUME PAGE*/


.resume-page {
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #ebebd3;
	position: absolute;
	border: solid 4px #083d77;
	display: grid;
	grid-template-rows: 65% 35%;
}

.education-and-skills {
	display: grid;
	grid-template-columns: 40% 60%;
	margin-top: 55px;
}

.languages-and-experience {
	display: grid;
	grid-template-columns: 40% 60%;
}


.languages-div {
	padding: 15px;
	margin-left: 30px;
}

.languages-grid {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 30% 30%;
	grid-gap: 10px;
	margin-top: 10px;
	justify-content: flex-start;
	align-items: center;
}

.lang {
	display: flex;
	flex-direction: column;
}

.skills-grid {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: 40% 40% 40%;
	grid-gap: 15px;
	margin-top: 10px;
	justify-content: flex-start;
	align-items: center;
}

.skills {
	padding: 15px;
	margin-left: 30px;
}

.skill {

}

.experience-div {
	padding: 15px;
	margin-left: 50px;
	border-right: solid 2px #083d77;
	margin-bottom: 50px;

}

.education-div {
	padding: 15px;
	margin-left: 50px;
	border-right: solid 2px #083d77;
}

.courses {

}

.course {
	padding: 2px;
}

.argument-div {
	margin-bottom: 25px;
}

.resume-h1 {
	margin-bottom: 10px;
	font-size: 30px;
	text-transform: uppercase;
	color: #083d77;
}

.resume-h3 {
	font-size: 20px;
}

.resume-p {
	font-size: 15px;
}

.argument {
	padding: 2px;
}

.symbol {
	color: #da4167;
}

.symbol-lang {
	color: #f4d35e;
}






