* {
	box-sizing: border-box;
	margin: 0;
	border: 0;
}

html, body {
  background-color: #da4167;
  width: 100%;
  height: 100%;
}

.close-button {
	-webkit-animation: moveToLeft .6s ease both;
	animation: moveToLeft .6s ease both;
}

@keyframes border {
  from {border: none;}
  to {border: 2px solid #083d77;}
}

@-webkit-keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}


/*APP PAGE*/

.app-main {
	position: absolute;
	width: 100%;
	height: 100%;
}

.link {
	text-decoration: none;
	font-family: "PT Sans", sans-serif;
	font-size: 23px;
	color: #083d77;
}

#projects-main {
	background-color: #ebebd3;
	z-index: 1;
    border: 2px solid #083d77;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 40%;
    text-decoration: none;
    display: flex;
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    right: auto;
   	transition: background-color 1s, width 1s, height 1s, transform 1s, z-index 1s, border 1s;
    overflow: hidden;
}

#projects-main:hover {
	background-color: #da4167;
	width: 70%;
	height: 50%;
	z-index: 2;
	transform: scale(1);
}

body:has(#projects-main:hover) #about {
	height: 50%;
}

body:has(#projects-main:hover) #contacts-main {
	width: 30%;
}

body:has(#projects-main:hover) #logo {
	width: 20%;
    height: 20%;
    transform: translate3d(50%, 50%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    z-index: 10;
    animation-name: border;
    animation-iteration-count: 1;
    animation-delay: 2s;
}

body:has(#projects-main:hover) #logo ~ #resume-main {
	height: 30%;
	width: 50%;
}

body:has(#projects-main:hover) #logo ~ #contacts-main {
	height: 70%;
}


body:has(#projects-main:hover) #logo ~ #about {
	width: 50%;
}

#projects-main:hover .link {
	color:#f4d35e;
	padding: 15px;
	border: 4px solid #f4d35e;
}


#contacts-main {
	background-color: #ebebd3;
	z-index: 1;
	border: 2px solid #083d77;
	justify-content: center;
	align-items: center;
	width: 40%;
	height: 60%;
	text-decoration: none;
	display: flex;
	position: absolute;
	top: 0;
	bottom: auto;
	left: auto;
	right: 0;
	transition: background-color 1s, width 1s, height 1s, transform 1s, z-index 1s, border 1s;
	overflow: hidden;
}

#contacts-main:hover {
	background-color: #da4167;
	width: 50%;
	height: 70%;
	z-index: 2;
	transform: scale(1); 
}

#contacts-main:hover .link{
	color:#f4d35e;
	padding: 15px;
	border: 4px solid #f4d35e;
}

#contacts-main:hover ~ #projects-main {
	width: 40%;
}

body:has(#contacts-main:hover) #logo {
	width: 20%;
    height: 20%;
    transform: translate3d(-50%, 50%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    z-index: 10;
    animation-name: border;
    animation-iteration-count: 1;
    animation-delay: 2s;
}

body:has(#contacts-main:hover) #logo ~ #resume-main {
	height: 30%;
	width: 70%;
}

body:has(#contacts-main:hover) #logo ~ #projects-main {
	width: 50%;
	height: 50%;
}

body:has(#contacts-main:hover) #logo ~ #about {
	width: 30%;
	height: 50%;
}


#logo {
	background-color: #da4167;
	color: #f4d35e;
    border: 2px solid #083d77;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
    padding-bottom: 9px;
    display: flex;
    position: absolute;
    top: 40%;
    left: 40%;
    transition: width 1s, height 1s , transform 1s, z-index 1s, border 1s, background-color 1s, color 1s;
    overflow: hidden;
}

#logo:hover {
	width: 40%;
	height: 40%;
	z-index: 2;
	background-color: #f4d35e;
	color: #da4167;
	transform: translate3d(-20%, -30%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

.logo-font {
	font-family: "Permanent Marker", sans-serif;
	font-size: 52px;
}

body:has(#logo:hover) #about {
	width: 32%;
	height: 72%;
}

body:has(#logo:hover) #resume-main {
	width: 68%;
	height: 32%;
}

body:has(#logo:hover) #projects-main {
	height: 28%;
	width: 72%;
}

body:has(#logo:hover) #contacts-main {
	width: 28%;
	height: 68%;
}


#about {
	background-color: #ebebd3;
    border: 2px solid #083d77;
   	z-index: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    text-decoration: none;
    width: 40%;
    height: 60%;
    top: auto;
    bottom: 0;
    left: 0;
    right: auto;
    transition: background-color 1s, width 1s, height 1s, transform 1s, z-index 1s, border 1s;
    overflow: hidden;
}

#about:hover {
	background-color: #da4167;
	width: 55%;
	height: 60%;
	transform: scale(1);
	z-index: 2;
}

#about:hover ~ #resume-main {
	width: 40%;
}

#about:hover .link {
	color:#f4d35e;
	padding: 15px;
	border: 4px solid #f4d35e;
}

body:has(#about:hover) #logo {
	width: 20%;
    height: 20%;
    transform: translate3d(75%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    z-index: 10;
    animation-name: border;
    animation-iteration-count: 1;
    animation-delay: 2s;
}

body:has(#about:hover) #logo ~ #resume-main {
	width: 45%;
	height: 40%;
}

body:has(#about:hover) #logo ~ #projects-main {
	width:75%;
}

body:has(#about:hover) #logo ~ #contacts-main {
	width: 25%;
}

#resume-main {
	background-color: #ebebd3;
    border: 2px solid #083d77;
   	z-index: 1;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 40%;
    text-decoration: none;
    display: flex;
    position: absolute;
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
    transition: background-color 1s, width 1s, height 1s, transform 1s, z-index 1s, border 1s;
}

#resume-main:hover {
	background-color: #da4167;
	width: 60%;
	height: 50%;
	transform: scale(1);
	z-index: 2;
}

#resume-main:hover ~ #contacts-main {
	height: 40%;
}

#resume-main:hover .link {
	color:#f4d35e;
	padding: 15px;
	border: 4px solid #f4d35e;
}

body:has(#resume-main:hover) #logo {
	width: 20%;
    height: 20%;
    transform: translate3d(0px, -50%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    z-index: 10;
    animation-name: border;
    animation-iteration-count: 1;
    animation-delay: 2s;
}

body:has(#resume-main:hover) #logo ~ #about {
	height: 70%;
}

body:has(#resume-main:hover) #logo ~ #projects-main {
	height: 30%;
}

body:has(#resume-main:hover) #logo ~ #contacts-main {
	height: 50%;
}

/*APP PAGE RESPONSIVE*/

@media only screen and (max-width: 1280px) and (max-height: 750px) {
.app-main {
	width: 100%;
	height: 100%;
}

.link {
	font-size: 20px;
}

#logo {
	width: 100%;
	height: 20%;
	top: 0;
	left: 0;
}
#logo:hover {
	background-color: #f4d35e;
	color: #da4167;
	width: 100%;
	height: 20%;
	transition: none;
	transform: none;
}

body:has(#logo:hover) #about {
	width: 100%;
	height: 20%;
}

body:has(#logo:hover) #resume-main {
	width: 100%;
	height: 20%;
}

body:has(#logo:hover) #projects-main {
	height: 20%;
	width: 100%;
}

body:has(#logo:hover) #contacts-main {
	width: 100%;
	height: 20%;
}

#projects-main {
	width: 100%;
	height: 20%;
	top: 20%;
}

#projects-main:hover{
	background-color: #da4167;
	width: 100%;
	height: 20%;
	transform: none;
	z-index: 2;
}

body:has(#projects-main:hover) #about {
	height: 20%;
}

body:has(#projects-main:hover) #contacts-main {
	width: 100%;
	height: 20%;
}

body:has(#projects-main:hover) #logo {
	width: 100%;
    height: 20%;
    transform: none;
    z-index: 10;
	animation: none;
}

body:has(#projects-main:hover) #logo ~ #resume-main {
	height: 20%;
	width: 100%;
}

body:has(#projects-main:hover) #logo ~ #contacts-main {
	height: 20%;
}


body:has(#projects-main:hover) #logo ~ #about {
	width: 100%;
}

#contacts-main {
	width: 100%;
	height: 20%;
	top: 40%;
}


#contacts-main:hover {
	background-color: #da4167;
	width: 100%;
	height: 20%;
	transform: none;
	z-index: 2;
}

#contacts-main:hover ~ #projects-main {
	width: 100%;
}

body:has(#contacts-main:hover) #logo {
	width: 100%;
    height: 20%;
    transform: none;
	animation: none;
	z-index: 10;
}

body:has(#contacts-main:hover) #logo ~ #resume-main {
	height: 20%;
	width: 100%;
}

body:has(#contacts-main:hover) #logo ~ #projects-main {
	width: 100%;
	height: 20%;
}

body:has(#contacts-main:hover) #logo ~ #about {
	width: 100%;
	height: 20%;
}

body:has(#logo:hover) #about {
	width: 100%;
	height: 20%;
}

body:has(#logo:hover) #resume-main {
	width: 100%;
	height: 20%;
}

body:has(#logo:hover) #projects-main {
	height: 20%;
	width: 100%;
}

body:has(#logo:hover) #contacts-main {
	width: 100%;
	height: 20%;
}

#about {
	width: 100%;
	height: 20%;
	top: 60%;
}

#about:hover {
	background-color: #da4167;
	width: 100%;
	height: 20%;
	transform: none;
	z-index: 2;
}

#about:hover ~ #resume-main {
	width: 100%;
	height: 20%;
}

#about:hover .link {
	font-size: 20px;
	border: none;
}

#projects-main:hover .link {
	font-size: 20px;
	border: none;
}
#contacts-main:hover .link {
	font-size: 20px;
	border: none;
}
#resume-main:hover #resume-link {
	font-size: 20px;
	border: none;
}


body:has(#about:hover) #logo {
	width: 100%;
    height: 20%;
    transform: none;
    z-index: 10;
	animation: none;
	font-family: "Permanent Marker", sans-serif;
}

body:has(#about:hover) #logo ~ #resume-main {
	width: 100%;
	height: 20%;
}

body:has(#about:hover) #logo ~ #projects-main {
	width: 100%;
	height: 20%;
}

body:has(#about:hover) #logo ~ #contacts-main {
	width: 100%;
	height: 20%;
}

#resume-main {
	width: 100%;
	height: 20%;
	top: 80%;
}


#resume-main:hover {
	background-color: #da4167;
	width: 100%;
	height: 20%;
	transform: none;
	z-index: 2;
}

#resume-main:hover ~ #contacts-main {
	height: 20%;
}

#resume-main:hover .link {
	color:#f4d35e;
}

body:has(#resume-main:hover) #logo {
	width: 100%;
    height: 20%;
    transform: none;
	z-index: 10;
}

body:has(#resume-main:hover) #logo ~ #about {
	height: 20%;
}

body:has(#resume-main:hover) #logo ~ #projects-main {
	height:20%;
}

body:has(#resume-main:hover) #logo ~ #contacts-main {
	height: 20%;
}
}

@media only screen and (max-width: 1280px) and (min-height: 750px) and (max-height: 1400px) {


.app-main{ 
	width: 100%;
	height: 100%;
}

#logo {
width: 100%;
height: 20%;
top: 0;
left: 0;
transition: none;
}

#logo:hover {
	background-color: #f4d35e;
	color: #da4167;
	width: 100%;
	height: 20%;
	transition: none;
	transform: none;
}

body:has(#logo:hover) #about {
	width: 100%;
	height: 20%;
}

body:has(#logo:hover) #resume-main {
	width: 100%;
	height: 20%;
}

body:has(#logo:hover) #projects-main {
	height: 20%;
	width: 100%;
}

body:has(#logo:hover) #contacts-main {
	width: 100%;
	height: 20%;
}

#about{
	width: 100%;
	height: 20%;
	top: 60%;
}

#about:hover {
	background-color: #da4167;
	width: 100%;
	height: 20%;
	transform: none;
	z-index: 2;
}

#about:hover ~ #resume-main {
	width: 100%;
	height: 20%;
}

#about:hover .link {
	color:#f4d35e;
	padding: 15px;
	border: 4px solid #f4d35e;
}

body:has(#about:hover) #logo {
	width: 100%;
    height: 20%;
    transform: none;
    z-index: 10;
	animation: none;
	font-family: "Permanent Marker", sans-serif;
}

body:has(#about:hover) #logo ~ #resume-main {
	width: 100%;
	height: 20%;
}

body:has(#about:hover) #logo ~ #projects-main {
	width: 100%;
	height: 20%;
}

body:has(#about:hover) #logo ~ #contacts-main {
	width: 100%;
	height: 20%;
}

#resume-main {
	width: 100%;
	height: 20%;
	top: 80%;
}


#resume-main:hover {
	background-color: #da4167;
	width: 100%;
	height: 20%;
	transform: none;
	z-index: 2;
}

#resume-main:hover ~ #contacts-main {
	height: 20%;
}

#resume-main:hover .link {
	color:#f4d35e;
	padding: 15px;
	border: 4px solid #f4d35e;
}

body:has(#resume-main:hover) #logo {
	width: 100%;
    height: 20%;
    transform: none;
	z-index: 10;
}

body:has(#resume-main:hover) #logo ~ #about {
	height: 20%;
}

body:has(#resume-main:hover) #logo ~ #projects-main {
	height:20%;
}

body:has(#resume-main:hover) #logo ~ #contacts-main {
	height: 20%;
}

#projects-main {
	top: 20%;
	width: 100%;
	height: 20%;
}

#projects-main:hover{
	background-color: #da4167;
	width: 100%;
	height: 20%;
	transform: none;
	z-index: 2;
}

body:has(#projects-main:hover) #about {
	height: 20%;
}

body:has(#projects-main:hover) #contacts-main {
	width: 100%;
	height: 20%;
}

body:has(#projects-main:hover) #logo {
	width: 100%;
    height: 20%;
    transform: none;
    z-index: 10;
	animation: none;
}

body:has(#projects-main:hover) #logo ~ #resume-main {
	height: 20%;
	width: 100%;
}

body:has(#projects-main:hover) #logo ~ #contacts-main {
	height: 20%;
}


body:has(#projects-main:hover) #logo ~ #about {
	width: 100%;
}

#contacts-main {
	top: 40%;
	height: 20%;
	width: 100%;
}

#contacts-main:hover {
	background-color: #da4167;
	width: 100%;
	height: 20%;
	transform: none;
	z-index: 2;
}

#contacts-main:hover ~ #projects-main {
	width: 100%;
}

body:has(#contacts-main:hover) #logo {
	width: 100%;
    height: 20%;
    transform: none;
	animation: none;
	z-index: 10;
}

body:has(#contacts-main:hover) #logo ~ #resume-main {
	height: 21.25%;
	width: 100%;
}

body:has(#contacts-main:hover) #logo ~ #projects-main {
	width: 100%;
	height: 21.25%;
}

body:has(#contacts-main:hover) #logo ~ #about {
	width: 100%;
	height: 20%;
}

body:has(#logo:hover) #about {
	width: 100%;
	height: 20%;
}

body:has(#logo:hover) #resume-main {
	width: 100%;
	height: 20%;
}

body:has(#logo:hover) #projects-main {
	height: 20%;
	width: 100%;
}

body:has(#logo:hover) #contacts-main {
	width: 100%;
	height: 20%;
}
}

/*CONTACTS PAGE*/ 

.contacts-page {
	width: 100%;
	height: 100%;
	z-index: 9999;
	position: absolute;
	background-color: #ebebd3;
	border: 4px solid #083d77;
	display: flex;
	font-family: "PT Sans", sans-serif;
	-webkit-animation: moveFromLeft .6s ease both;
	animation: moveFromLeft .6s ease both;
}

.close-button {
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: auto;
	top: 32px;
	right: 32px;
	left: auto;
	background-color: #ebebd3;
	cursor: pointer;
}

.close {
	width: 30px;
	height: 30px;
}

.yellowscreen {
	width: 20%;
	background-color: #f4d35e;
}

.social {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-left: 4px solid #083d77;
}

.social-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.social-1 {
	font-size: 60px;
	color: #083d77;
}

.social-2 {
	text-transform: uppercase;
	font-size: 35px;
}


.social-mail {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 18px;
}

.social-phone {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.numbers {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.social-3 {
	padding: 15px;
	font-size: 25px;
}


.mail {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 13px 0px;
}

.social-linkedin {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
}

.social-input {
	font-size: 25px;
	text-align: center;
	color: black;
	margin-bottom: 15px;
}

.social-button {
	height: 35px;
	font-size: 25px;
	text-transform: uppercase;
	background-color: #da4167;
	color: #ebebd3;
	width: 100px;
	cursor: pointer;
	border-radius: 3px;
}

.social-button:active {
  	background-color: #083d77;
  	transform: translateX(10px);
}

.img-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.linkedin-img {
	width: 110px;
	height: 110px;
	margin-right: 15px;
}

.github-img {
	width: 70px;
	height: 70px;
	margin-left: 15px;
}


/*CONTACTS PAGE RESPONSIVE*/

@media only screen and (max-width: 768px) and (max-height: 750px) {
 .contacts-page {
	width: 100%;
	height: 100%;
 }

 .social {
	width: 100%;
 }

 .social-1 {
	font-size: 40px;
 }

 .social-2{
	font-size: 25px;
 }

 .social-3 {
	font-size: 20px;
 }

 .social-input {
	font-size: 20px;
 }

 .social-button{
	height: 30px;
	font-size: 20px;
 }

 .numbers {
	flex-direction: column;
 }

 .linkedin-img {
	width: 80px;
	height: 80px;
 }

 .github-img {
	width: 50px;
	height: 50px;
 }
}

@media only screen and (max-width: 768px) and (min-height: 750px) {
	.social-1 {
		font-size: 35px;
	 }
	
	 .social-2{
		font-size: 25px;
	 }
	
	 .social-3 {
		font-size: 20px;
	 }

	 .numbers {
		flex-direction: column;
	 }
	
	 .social-input {
		font-size: 20px;
	 }
	
	 .social-button{
		height: 30px;
		font-size: 20px;
	 }
}

/*RESUME PAGE*/


.resume-page {
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #ebebd3;
	position: absolute;
	border: solid 4px #083d77;
	display: grid;
	grid-template-rows: 65% 35%;
	font-family: "PT Sans", sans-serif;
	-webkit-animation: moveFromLeft .6s ease both;
	animation: moveFromLeft .6s ease both;
	overflow-x: hidden;
}

.education-and-skills {
	display: grid;
	grid-template-columns: 40% 60%;
	margin-top: 55px;
}

.languages-and-experience {
	display: grid;
	grid-template-columns: 40% 60%;
}


.languages-div {
	padding: 15px;
	margin-left: 30px;
}

.languages-grid {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 30% 30%;
	grid-gap: 10px;
	margin-top: 10px;
	justify-content: flex-start;
	align-items: center;
}

.lang {
	display: flex;
	flex-direction: column;
}

.skills-grid {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: 40% 40% 40%;
	grid-gap: 15px;
	margin-top: 10px;
	justify-content: flex-start;
	align-items: center;
}

.skills {
	padding: 15px;
	margin-left: 30px;
}

.experience-div {
	padding: 15px;
	margin-left: 50px;
	border-right: solid 4px #083d77;
	margin-bottom: 50px;

}

.education-div {
	padding: 15px;
	margin-left: 50px;
	border-right: solid 4px #083d77;
}

.course {
	padding: 2px;
}

.argument-div {
	margin-bottom: 25px;
}

.resume-h1 {
	margin-bottom: 10px;
	font-size: 30px;
	color: #083d77;
}

.resume-h3 {
	font-size: 20px;
	text-transform: uppercase;
}

.resume-p {
	font-size: 15px;
}

.argument {
	padding: 2px;
}

.symbol {
	color: #da4167;
}

.symbol-lang {
	color: #f4d35e;
}

/*RESUME PAGE RESPONSIVE*/


@media only screen and (min-width:600px) and (min-height: 300px) {
	.resume-page {
		display: flex;
		flex-direction: column;
	}

	.languages-and-experience {
		flex: 1;
	}

	.education-and-skills {
		flex: 1;
	}
}


@media only screen and (min-width:600px) and (min-height: 1000px) {
	.resume-page {
		display: flex;
		flex-direction: column;
	}

	.languages-and-experience {
		flex: 1;
	}

	.education-and-skills {
		flex: 1;
	}
}

@media only screen and (max-width: 600px) {

.resume-page {
	display: flex;
	flex-direction: column;
}

.education-and-skills {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 170px;
}

.languages-and-experience {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.skills {
	margin-left: 10px;
	margin-right: 10px;
}

.education-div {
	margin-left: 10px;
	margin-right: 10px;
	border-right: none;
}

.experience-div {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	border-right: none;
}

.languages-div {
	margin-left: 10px;
	margin-right: 10px;
}

.resume-h1 {
	margin-bottom: 5px;
	font-size: 24px;
	border-bottom: 4px solid #083d77;
}

.resume-h3 {
	font-size: 18px;
}
.skills-grid {
	grid-template-columns: 50% 50%;
	grid-template-rows: 33% 33% 33% 33% 33%;
	grid-gap: 5px;
}
}

@media only screen and (max-width: 768px) {
	.languages-and-experience {
		margin-top: 130px;
		grid-template-columns: 50% 50%;
		margin-top: -30px;
	}

	.education-and-skills {
		grid-template-columns: 50% 50%;
	}

	.skills {
		margin-left: 20px;
		margin-right: 20px;
		padding: 5px;
	}

	.skills-grid {
		grid-template-columns: 50% 50%;
		grid-template-rows: 30% 30% 30% 30%;
		grid-gap: 5px;
	}

	.resume-h1 {
		font-size: 25px;
	}
}

/*ABOUT PAGE*/


.about-page {
	z-index:9999;
	background-color: #ebebd3;
	width: 100%;
	height: 100%;
	position: absolute;
	display: grid;
	font-family: "PT Sans", sans-serif;
	border: solid 4px #083d77;
	-webkit-animation: moveFromLeft .6s ease both;
	animation: moveFromLeft .6s ease both;
	overflow-x: hidden;
}

.sara {
	max-width: 100%;
	width: 420px;
	height: auto;
	border-radius: 4px;
}

.sara-image {
	border-right: solid 4px #f4d35e;
	padding-right: 20px;
}

.presentation {
	display: grid;
	grid-template-columns: 40% 60%;
	grid-gap: 30px;
	margin-left: 250px;
	margin-right: 250px;
	margin-top: 30px;
}

.title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-top: 50px;
	margin-left: 250px;
}


.about-h3 {
	font-size: 70px;
	color: #da4167;
	line-height: 55px;
	margin-bottom: 15px;
}

.about-h2 {
	font-size: 100px;
	font-family: "Permanent Marker", sans-serif;
	color: #083d77; 
}

.about-p {
	padding: 10px;
	font-size: 16px;
	text-transform: uppercase;
}


/*ABOUT PAGE RESPONSIVE*/
/*For mobile phone*/

@media only screen and (max-width: 600px) {
	.title {
		margin-left: 100px;
	}

	.about-h2 {
		font-size: 50px;
	}

	.presentation {
		display: flex;
		flex-direction: column;
		margin-left: 15px;
		margin-right: 15px;
	}

	.sara-image {
		border-right: none;
		padding-right: 0px;
		border-bottom: 4px solid #f4d35e;
		padding-bottom: 10px;
	}

	.about-h3 {
		font-size: 40px;
		line-height: 35px;
		padding: 10px;
	}
	
}

/*ABOUT PAGE RESPONSIVE*/
/*For tablets*/

@media only screen and (max-width: 768px) {
	.title {
		margin-left: 30px;
		margin-right: 20px;
	}

	.presentation {
		margin-left: 30px;
		margin-right: 50px;
		margin-bottom: 30px;
	}

	.about-h3 {
		font-size: 50px;
		line-height: 40px;
	}

	.about-p {
		font-size: 18px;
	}
}

@media only screen and (min-width: 769px) and (max-width: 1060px) {
	.presentation {
		display: flex;
		flex-direction: column;
		margin-left: 80px;
		margin-right: 80px;
	}

	.title {
		margin-left: 0px;
		align-items: center;
	}

	.sara-image {
		border-right: none;
		align-self: center;
	}

	.presentation-p {
		border-top: 4px solid #f4d35e;
		padding-top: 20px;
	}

	.about-h3 {
		font-size: 55px;
		align-items: center;
	}

	.about-p {
		font-size: 22px;
	}
}



/*PROJECTS PAGE*/


.projects-page {
	z-index: 9999;
	background-color: #ebebd3;
	width: 100%;
	height: auto;
	position: absolute;
	display: grid;
	font-family: "PT Sans", sans-serif;
	border: solid 4px #083d77;
	-webkit-animation: moveFromLeft .6s ease both;
	animation: moveFromLeft .6s ease both;
	display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	overflow-y: auto;
}

.moenia-pres {
	height: 150vh;
	padding: 20px;
	margin-top: 850px;
	position: relative;
}

.moenia-title {
	text-align: center;
    color: #da4167;
    font-size: 40px;
    font-family: "PT Sans", sans-serif;
	margin-bottom: 50px;
	text-transform: uppercase;
	position: relative;
}

.moenia-paragraph {
	display: flex;
	flex-direction: column;
	border-bottom: 3px solid #f4d35e;
	position: absolute;
	margin-top: 100px;
	padding-bottom: 30px;
}


.moenia-p {
	font-size: 18px;
	text-align: justify;
	margin-bottom: 15px;
	font-family: "PT Sans", sans-serif;
}

.a-paragraph {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 1880px;
}

.moenia-pres1 {
	height: 150vh;
	padding: 20px;
	top: 350px;
	position: relative;
}

.moenia-title1 {
	text-align: center;
    color: #da4167;
    font-size: 40px;
    font-family: "PT Sans", sans-serif;
	margin-bottom: 50px;
	text-transform: uppercase;
	position: relative;
}

.moenia-paragraph1 {
	display: flex;
	flex-direction: column;
	border-bottom: 3px solid #f4d35e;
	position: absolute;
	margin-top: 100px;
	padding-bottom: 30px;
}

.moenia-p1 {
	font-size: 18px;
	text-align: justify;
	margin-bottom: 15px;
	font-family: "PT Sans", sans-serif;
}

.a-paragraph1 {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 1880px;
}

/*PROJECTS PAGE RESPONSIVE*/
/*For mobile phones*/

@media only screen and (max-width: 600px) and (min-height: 600px) {
.projects-page {
	position: absolute;
	display: flex;
}

.moenia-pres {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	flex: 1;
	margin-left: 10px;
	margin-right: 10px;
}

.moenia-title {
	flex: 1;
	font-size: 30px;
}

.moenia-paragraph {
	flex: 1;
	justify-content: center;
	align-items: center;
}

.moenia-pres1 {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	flex: 1;
	margin-left: 10px;
	margin-right: 10px;
}

.moenia-title1 {
	flex: 1;
	font-size: 30px;
}
.moenia-paragraph1 {
	flex: 1;
}

}

/*PROJECTS PAGE RESPONSIVE*/
/*For tablets*/


@media only screen and (min-width: 769px) and (max-width: 1180px) {

	.projects-page{
		overflow-x: hidden;
	}

	.moenia-pres {
		margin-top: -400px;
	}

	.moenia-paragraph {
		margin-top: -190px;
	}

	.moenia-pres1 {
		margin-top: 1750px;
	}

	.moenia-paragraph1 {
		margin-top: -230px;
	}
}




